@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Macondo&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    
}

li, a, button {
    font-family: "Macondo", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    font-weight: bold;
}

.container {
    width: 100%;
    height: 100%;
}


.container section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

}

.left {
    display: flex;
    background-color: #c41d34;
    width: 50%;
    height: 100%;
    margin-left: -50%;
}

.left section {
    display: flex;
    background-color: #c41d34;
    justify-content: center;
    align-items: center;
}

.left section p {
    font-family: "Great Vibes", cursive;
    background-color: #c41d34;
    color: #edf0f1;
    font-size: 500%;
}

.right {
    display: flex;
    background-color: #edf0f1;
    width: 50%;
    height: 100%;
    margin-left: 50%;
}

.right section {
    display: flex;
    background-color: #edf0f1;
    justify-content: center;
    align-items: center;
}

.right section p {
    font-family: "Great Vibes", cursive;
    background-color: #edf0f1;
    color: #24252A;
    font-size: 500%;
}

.homeHeader {
    position: absolute;
    font-family: "Macondo", sans-serif;
    color: #edf0f1;
    font-weight: bold;
    margin-top: -43%;
    font-size: 115%;
}

.myname {
    font-family: "Great Vibes", cursive;
    color: #edf0f1;
    position: absolute;
    display: flex;
    margin-top: 10%;
    font-size: 270%;
}

.nav {
    position: absolute;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin-top: 35%;
    align-items: center;
    padding: 30px 10%;
}

#item li {
    display: inline-block;
    padding: 0px 20px;
}

#item li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

#item li a:hover{
    color: #c41d34
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

.logo {
    /*display: block;
    margin-left: 40%;
    margin-right: 40%;
    padding-top: 15%;
    width: 10%;*/
    position: absolute;
    margin: auto;
    top: -17%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 10%;
  }